[user]
	email = boran@goegetap.name
	name  = Boran
	signingkey = /home/boran/.ssh/id_rsa.pub
[alias]
	pushall         = !git remote | xargs -L1 git push --all
[init]
	defaultBranch = main
[merge "ours"]
	driver = true
[push]
	autoSetupRemote = true
